// mixin
@mixin mobile {
  @media(max-width:767px) {
    @content;
  }
}

@mixin ipad {
  @media(max-width:992px) {
    @content;
  }
}

//白寫的tab
.clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.anchorList {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style: none;

  &>li {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &>a {
      display: block;
      padding: 8px 12px;
      background-color: #eee;
      color: #999;
      text-decoration: none;
    }
  }
}

.tab {
  &__switch {
    margin: 0;
    padding: 0;
    list-style: none;
    @include mobile {
      display: flex;
      align-items: stretch;
    }
    &>li {
      float: left;
      border-bottom: 4px solid #E6E6E6;
      color: #999;
      padding: 10px 14px;
      cursor: pointer;
      width: 20%;
      text-align: center;
      transition: .3s;
      font-size: 22px;
      font-weight: 500;
      font-family: 'Noto Serif TC', serif;
      &.active {
        border-bottom: 6px solid #2DA6E0;
        color: #2DA6E0;
        padding-bottom: 8px;
      }
      &:hover {
        color: #2DA6E0;
        transition: .3s;
      }
      @include mobile {
        font-size: 20px;
        letter-spacing:2px;
        writing-mode:vertical-lr;
        display: flex;
        align-items: center;
      }
    }
  }

  &__panel {
    display: none;
  }
  .intro-img {
    position: relative;
    margin-bottom: 60px;

    img {
      width: 100%;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../images/intro1-pc-txt.png);
      background-size: contain;
    }
  }
}

.anchorGroup {
  padding: 70px 0px;
  @include mobile {
    padding: 30px 0px;
  }
}

//20221118 new
.navbar {
  background-color: transparent;
  -moz-transition: background-color .3s ease-in;
  -o-transition: background-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;

  &.active {
    background-color: #fff;
  }
}

.doctor-nav {
  background-color: transparent;
  -moz-transition: background-color .3s ease-in;
  -o-transition: background-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;

  &.sticky {
    position: sticky;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
  }
}

.tab {
  &__panel {
    .intro-img {
      &:after {
        opacity: 0;
        -moz-transition: opacity .3s ease-in;
        -o-transition: opacity .3s ease-in;
        -webkit-transition: opacity .3s ease-in;
        transition: opacity .3s ease-in;
      }
    }

    &.current {
      .intro-img {
        &.visible {
          &:after {
            transition: 3s;
            opacity: 1;
          }
        }
      }
    }
  }
}

//白寫的tab end


//全站字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Noto+Serif+TC:wght@500&family=Roboto:wght@100;300;500;900&display=swap');
$main-color:#2DA6E0;
$main-color-dark:#1A80C2;

html {
  overflow-x: hidden;
}
body {
  position: relative;
  background-color: FBFBFB;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  // overflow-x: hidden;
}

section {
  padding: 100px 0;

  @include mobile {
    padding: 70px 0;
  }
}

a {
  text-decoration: none;
  display: block;
  transition: .3s;

  &:hover {
    transition: .3s;
  }
}

li {
  list-style: none;
}

p {
  font-size: 20px;
  line-height: 1.65;
  font-weight: 300;
  color: #444;
  margin-bottom: 0;
}

p+p {
  margin-top: 30px;
}

.font-serif {
  font-family: 'Noto Serif TC', serif;
}



/*------------------------------------*\
  #SIDEBAR navbar
\*------------------------------------*/
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .navbar-toggler {
    cursor: pointer;
    border: none;
    background-color: $main-color;
    padding: 14px 30px;
    border-radius: 50px;
    a {
      color: #fff;
      letter-spacing: 2px;
      font-size: 18px;

      i {
        margin-left: 8px;
      }
    }
    @include mobile {
      padding: 12px 18px 12px 22px;
      a {
        letter-spacing: 1px;
        font-size: 16px;
      }
    }
  }
}

.navbar-side {
  height: 100%;
  max-width: 40rem;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  overflow-y: scroll;
  z-index: 1000;
  padding: 24px 30px;
  @include mobile {
    padding: 20px 20px;
  }
}

@media (min-width: 320px) {
  .navbar-side {
    width: 400px;
  }
}

@media (min-width: 320px) and (max-width: 484px) {
  .navbar-side {
    width: 80%;
  }
}

.navbar-side {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #5f5f5f;
  opacity: .6;
  z-index: 990;
}

.close-navbar {
  text-align: right;
  font-size: 30px;
  padding-right: 1rem;
  margin-bottom: 20px;

  a {
    color: $main-color;

    &:hover {
      color: $main-color-dark;
    }
  }
}

.social-block {
  justify-content: center;
  display: flex;
  font-size: 36px;

  a {
    color: $main-color;
    padding: 0 20px;

    &:hover {
      color: $main-color-dark;
    }
  }
}

//bs:navbar手風琴
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.navbar-side {
  .accordion-item {
    border-bottom: 1px solid #CADBE3;
    letter-spacing: 1px;
  }

  .accordion-header {
    .accordion-button {
      font-size: 24px;
      font-weight: 500;
      color: #000;
      padding-right: 1rem;
      padding-left: 1rem;
      font-family: 'Noto Serif TC', serif;
    }
  }

  .accordion-body {
    ul {
      padding-left: 0;
    }

    li {
      font-size: 18px;
      font-weight: 400;

      a {
        color: #777;
        display: block;

        &:hover {
          color: $main-color;
        }
      }
    }

    li+li {
      margin-top: 10px;
    }
  }
}


/*------------------------------------*\
  header
\*------------------------------------*/
.op-overlay {
  background-color: rgba(0, 0, 0, .5);
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.op-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

header {
  width: 100%;
  text-align: center;
  color: white;
  transition: .4s;
  position: relative;
  .title {
    min-height: calc(100vh - 85px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    h3 {
      font-size: 138px;
      line-height: 1;
      display: block;
      mix-blend-mode: soft-light;
      color: #fff;
      @include mobile {
        font-size: 90px;
      }
    }

    //animation
    h2 {
      font-size: 120px;
      line-height: 1;
      font-weight: 900;
      display: block;
      mix-blend-mode: soft-light;
      color: #fff;
      color: transparent;
      -webkit-animation: blurFadeInOut 1.5s ease-in forwards;
      -moz-animation: blurFadeInOut 1.5s ease-in forwards;
      -ms-animation: blurFadeInOut 1.5s ease-in forwards;
      animation: blurFadeInOut 1.5s ease-in forwards;
      span {
        font-size: 30px;
        font-weight: 500;
      }
      @include mobile {
        font-size: 86px;
        margin-bottom: 20%;
      }
      .frame {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -ms-animation-delay: 0s;
        animation-delay: 0s;
      }
      @-webkit-keyframes blurFadeInOut {
        0% {
          opacity: 0;
          text-shadow: 0px 0px 40px #fff;
          -webkit-transform: scale(1.3);
        }
        100% {
          opacity: 1;
          text-shadow: 0px 0px 1px #fff;
          -webkit-transform: scale(1);
        }
      }
    }
    //animation end
  }
}

/*------------------------------------*\
  main
\*------------------------------------*/
// section 前言
.gd-logo {
  width: 100%;
}

// section 各科別醫生
.doctor-block {
  display: flex;
  align-items: flex-start;

  &.flex-center {
    align-items: center;
  }
}

.type-1-p {
  @include mobile {
    padding: 0 30px;
  }
}
.doctor-txt {
  overflow-x: hidden;
  padding: 0 50px;
  @include mobile {
    padding: 0 30px;
  }
  .doctor-title {
    border-bottom: 1px solid $main-color;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 18px;
      font-weight: 500;
    }

    h3 {
      font-family: 'Noto Serif TC', serif;
      font-size: 46px;
      font-weight: 500;
      @include mobile {
        font-size: 40px;
      }
    }

    .recommend-block {
      a {
        font-size: 16px;
        color: $main-color;

        &:hover {
          color: $main-color-dark;
        }

        i {
          margin-left: 10px;
        }
      }
    }
  }

  .point {
    padding: 60px 20px;
    font-family: 'Noto Serif TC', serif;
    font-size: 54px;
    line-height: 1.3;
    font-weight: 500;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      display: block;
      font-size: 50px;
      color: $main-color;
    }
    &::before {
      content: " “ ";
      top: 20px;
      left: -25px;
    }
    &::after {
      content: " ” ";
      bottom: 0px;
      right: 0;
    }
    @include mobile {
      font-size: 38px;
      padding: 60px 0;
      &::after {
        bottom: -10px;
        right: -20px;
      }
    }
  }
}

.doctor-img {
  position: relative;
  padding: 0 80px;
  @include mobile {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 26px;
  }

  .info-btn {
    position: absolute;
    bottom: 22px;
    right: 90px;
    z-index: 90;
    a {
      display: inline-block;
      cursor: pointer;
      padding: 8px 32px;
      font-size: 15px;
      color: $main-color-dark;
      border: 1px solid $main-color-dark;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, .7);
      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
    }
    @include mobile {
      bottom: 18px;
      right: 28px;
    }
  }

  .info-box {
    position: absolute;
    top: 0;
    left: 80px;
    background-color: rgba(26, 128, 194, 0.85);
    width: calc(100% - 160px);
    height: 100%;
    z-index: 10;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    &.info-visible {
      opacity: 1;
    }
    p {
      color: #fff;
      font-size: 18px;
    }
    @include mobile {
      left: 15px;
      width: calc(100% - 30px);
    }
  }

  .info-img {
    width: 100%;
    img {
      width: 100%;
    }
    @include mobile {
      // margin-bottom: 26px;
      img {
        height: 420px;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

.doctor-p {
  margin: 50px auto;
  @include mobile {
    margin-top: 0px;
  }
  h5 {
    font-size: 15px;
    color: #999;
    font-weight: 300;
    margin-bottom: 30px;

    span+span {
      margin-left: 16px;
    }
  }
  .more-btn {
    font-size: 15px;
    font-weight: 400;
    color: $main-color;
    text-align: right;
    margin-top: 14px;
    i {
      margin-left: 10px;
    }
    &:hover {
      color: $main-color-dark;
    }
  }
}

// section 雜誌導購
.magazin-img {
  width: 100%;
  background: url(../images/mag-pc.jpg) center no-repeat;
  background-size: 100% auto;

  &::before {
    content: "";
    display: block;
    padding-top: 27%;
  }
}

/*------------------------------------*\
  footer
\*------------------------------------*/
.Social {
  margin: auto;
  padding: 40px 0;

  .wrap {
    position: relative;
    width: 100%;
    pointer-events: none;

    .wrapper {
      margin: auto;
      width: 960px;
      pointer-events: auto;
      @media (max-width: 64em) {
        width: 768px;
      }
      @media (max-width: 63.9375em) {
        width: 576px;
      }
      @media (max-width: 39.9375em) {
          width: calc(100% - 30px);
      }


      h2 {
        color: #222;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 20px;
        text-align: center;
        @media (max-width: 39.9375em) {
          font-size: 1.75rem;
        }
      }

      .socialMedia {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .socialGroup {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin: 0 20px;
          @media (max-width: 39.9375em) {
            margin: 0 20px 0 0;
            &:last-child {
              margin: 0;
            }
          }
          img {
            height: 50px;
            margin-bottom: 10px;
            width: 50px;
            @media (max-width: 39.9375em) {
              height: 50px;
              margin-bottom: 0;
              width: 50px;
            }
          }

          p {
            color: #222;
            display: block;
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: .25px;
            @media (max-width: 63.9375em) {
              display:none;
            }
          }
        }
      }
    }
  }
}



footer {
  width: 100%;
  padding: 30px 0;
  color: #222;
  background: #fff;

  ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    @media (max-width: 39.9375em) {
      flex-wrap: wrap;
    }

    li {
      font-size: 15px;
      line-height: 15px;
      border-right: 1px solid #222;
      padding: 0 10px 0 0;
      margin: 0 10px 10px 0;
      @media (max-width: 39.9375em) {
        padding: 0 5px 0 0;
        margin: 0 5px 10px 0;
      }

      a {
        color: #222;
        line-height: 15px;

        &:hover {
          color: #000;
        }
      }

      &:last-child {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  p {
    color: #222;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
  }
}